/* Estilo para o corpo e cabeçalho */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #6262f0, #16213e);
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.1 rem; /* Responsividade */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px; 
    height: 50px;
    margin-right: 1rem;
    background-color: transparent;
}

.logo h1 {
    margin: 0;
    font-size: 1.5rem; 
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #fcfcfc;
}

header .user-settings {
    font-weight: bold;
}

/* Conteúdo principal com perfil e feed */
.container {
    display: flex;
    flex-wrap: nowrap; /* Mantém os elementos na linha */
    padding: 1rem;
    gap: 2rem;
    margin-top: 0.1rem;
}

/* Lateral esquerda para o perfil */
.profile-container {
    width: 25%; /* Define o espaço da coluna do perfil */
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
    text-align: left;
}

.profile-Photo img {
    width: 150px; /* Tamanho da imagem de perfil */
    height: 150px;
    border-radius: 50%; /* Formato redondo */
    object-fit: cover; /* Redimensiona a imagem mantendo a proporção */
    border: 2px solid #000000; /* Borda branca */
    margin-bottom: 1rem;
}

/* Campo de edição da bio */
.bio-input {
    resize: none;
    width: 90%;
    height: 80px;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    word-wrap: break-word;
}

.bio-input:focus {
    border-color: #0f0c25;
    outline: none;
}

/* Botão para salvar alterações */
.save-button {
    background-color: #0f0c25;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Botão de Escolher Foto */
.custom-button {   
    background-color: #0f0c25;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    
}

.save-button:hover {
    background-color: #0a081b;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Feed de postagens à direita */
.feed-container {
    width: 70%; /* Define o espaço da coluna do feed */
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .profile-container, .feed-container {
        width: 100%;
    }
}
