body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #6262f0, #16213e);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#recuperacao {
    margin-top: 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
#confirmacao{
    margin-top: 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.email input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-bottom: 20px;
}

.codigo input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-bottom: 20px;
}

.entrar input {
    cursor: pointer;
    width: 210px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(134, 243, 134);
    color: #141414;
}

.senha input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-top: 15px;
}

.confirme-senha input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-top: 15px;
    margin-bottom: 15px;
}